.zui-table {
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

.zui-table tbody td {
  padding: 10px;
  border: solid 1px #e3e8ec;
  font-family: Helvetica;
  font-size: 14px;
  color: #627991;
  letter-spacing: 0;
  font-weight: 200;
  margin-bottom: 0;
}
