:host {
  h4 {
    color: #31394d;
    font-family: Helvetica, serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0;
    margin-bottom: 0;
  }

  p {
    font-family: Helvetica, serif;
    font-size: 12px;
    color: #748aa1;
    letter-spacing: 0;
    margin-top: 0;
  }
}
