:host {
  align-items: center;
  background: #31394d;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
