:host {
  height: 100%;
}

:host .instability-details-container {
  margin-top: 1em;
}

:host .instability-details-left {
  padding-right: .5em;
}

:host .instability-details-right {
  padding-left: .5em;
  /* text-align: right; */
}
