<nav>
  <ul class="nav nav-pills nav-stacked">
    <li routerLinkActive="active">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/outside-angular-demo">DEMO: run outside angular</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/track-by-demo">DEMO: trackby</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/on-push-demo">DEMO: onpush</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/hover-demo">DEMO: hover</a>
    </li>
  </ul>
</nav>
