.page-container {
  max-width: 1000pt;
  margin: 0 auto;
  min-height: 100%;
  background: #E1E9EE;
}

.content-container {
  padding: 2em;
}

.sidebar-container {
  background: white;
}

.sidebar-header {
  background: #31394D;
  padding: 1em;
}

.sidebar-sub-header {
  padding: 1em;
}

.sidebar-sub-header .description {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

:host ::ng-deep h3.section-heading {
  font-family: Helvetica;
  font-size: 20px;
  color: #31394D;
  letter-spacing: 0;
  font-weight: 200;
  margin-bottom: 0.3em;
}

:host ::ng-deep h4.sub-section-heading {
  font-family: Helvetica;
  font-size: 14px;
  color: #31394D;
  letter-spacing: 0;
  font-weight: 200;
  margin-bottom: 0;
}

:host ::ng-deep span.sub-section-text {
  font-family: Helvetica;
  font-size: 12px;
  color: #748AA1;
  letter-spacing: 0;
}
