.page-container {
  max-width: 1000pt;
  margin: 0 auto;
  min-height: 100%;
  background: #E1E9EE;
}

.content-container {
  padding: 2em;
}

.sidebar-container {
  background: white;
}

.sidebar-header {
  background: #31394D;
  padding: 1.5em;
}

.sidebar-sub-header {
  padding: 1.5em;
}
.sidebar-sub-header .title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 19px;
}

.sidebar-sub-header .description {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  padding: 1em 0;
}

.sidebar-sub-header .augury-logo {
  text-align: right;
}

:host ::ng-deep h3.section-heading {
  font-family: Helvetica;
  font-size: 20px;
  color: #31394D;
  letter-spacing: 0;
  font-weight: 200;
  margin-bottom: 0.3em;
}

:host ::ng-deep h4.sub-section-heading {
  font-family: Helvetica;
  font-size: 14px;
  color: #31394D;
  letter-spacing: 0;
  font-weight: 200;
  margin-bottom: 0;
}

:host ::ng-deep span.sub-section-text {
  font-family: Helvetica;
  font-size: 12px;
  color: #748AA1;
  letter-spacing: 0;
}

.sidebar-container .rangle-button {
  margin-right: 5px;
  background: #777777;
  font-family: HelveticaNeue-Light;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 6px;
  height: 35px;
}

.sidebar-container .rangle-button.pause {
  margin-right: 0px;
  margin-left: 5px;
}

.sidebar-container .made-by-rangle-container {
  bottom: 0;
  padding: 1.5em;
  font-family: HelveticaNeue-Light;
}
.sidebar-container .made-by-rangle-container svg {
  margin-left: .5em;
}
